body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, nav, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

header {
    background-color: #FFD166;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #FFD166;
    text-align: center;
    font-size: 0.8em;
    color: #444;
}
