<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Guía de Ayuda - Supermercado Online</title>
        <link rel="stylesheet" th:href="@{/css/help-style.css}">
    </head>
    <body>
        <header>
            <h1>Guía de Ayuda - NutriMarket</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#registro">Registro</a></li>
                <li><a href="#compras">Realizar Compras</a></li>
                <li><a href="#pagos">Métodos de Pago</a></li>
                <li><a href="#envios">Envíos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <section id="registro">
                <h2>Registro</h2>
                <p>Para registrarse en NutriMarket, siga estos pasos:</p>
                <ol>
                    <li>Haga clic en el botón "Crear cuenta" en la parte inferior de la página.</li>
                    <li>Complete el formulario con la información que se le pida y cree una contraseña.</li>
                    <li>Haga clic en "Crear" para completar el registro.</li>
                </ol>
            </section>
            <section id="compras">
                <h2>Realizar Compras</h2>
                <p>Para realizar una compra, siga estos pasos:</p>
                <ol>
                    <li>Navegue por nuestras categorías de productos o utilice la barra de búsqueda para encontrar productos
                        específicos.
                    </li>
                    <li>Añada los productos que desee a su carrito de compras.</li>
                    <li>Cuando esté listo para finalizar su compra, haga clic en el icono del carrito y luego en "Realizar pedido".
                    </li>
                    <li>Rellene los datos necesarios que se le pidan de su tarjeta y haga clic en "Pagar".</li>
                </ol>
            </section>
            <section id="pagos">
                <h2>Métodos de Pago</h2>
                <p>Aceptamos los siguientes métodos de pago:</p>
                <ul>
                    <li>Tarjetas de crédito y débito (Visa, MasterCard, etc.)</li>
                </ul>
            </section>
            <section id="envios">
                <h2>Envíos</h2>
                <p>Ofrecemos las siguientes Opciones de Entrega:</p>
                <ul>
                    <li>Entrega a Domicilio: El pedido se entregara en su domicilio.</li>
                    <li>Recogida en Tienda: Se prepara el pedido su pedido para que usted solo tenga que recorgelo.</li>
                </ul>
            </section>
            <section id="contacto">
                <h2>Contacto</h2>
                <p>Si tiene alguna pregunta o necesita ayuda, puede contactarnos a través de los siguientes medios:</p>
                <ul>
                    <li>Correo electrónico: <a href="mailto:soporte@nutrimarket.com">soporte@nutrimarket.com</a></li>
                    <li>Teléfono: +34 611 122 133</li>
                </ul>
            </section>
        </main>
        <footer>
            <p>&copy;  NutriMarket - Tienda Online. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>
